<% if logged_in? %>
  <div class="row">
    <%= render 'shared/user_form' %>
    
    <div class="col-md-8 col-lg-6">
      <%= render 'shared/user_nav' %>
      
      <%= render 'shared/feed' %>
    </div>
    <div class="col-lg-2">
      <%= render 'advertisement/ad_right' %>
    </div>
  </div>
  
  <%= render "advertisement/amazon_tcg" %>
  <script type="text/javascript">
    $("#user_nav-link-home").addClass("active");
  </script>
<% else %>
  <%= render 'shared/deck_search' %>
  
  <p class ="mb-0">簡易検索</p>
  <% deck_kind.each do |tcg_name,num| %>
    <% if num != nil %> 
      <%= link_to tcg_name,{ controller: :microposts , action: :search, kind: num},class: "btn btn-sm btn-outline-primary mt-2" %>
    <% end %>
  <% end %> 
  
  
<% end %>


    