<div class="row">
  <div class="col col-md-3">
    <div class="d-none d-md-block">
      <%= render 'advertisement/search_left' %>
    </div>
  </div>
  <div class="col-md-6 p-0 y-border-md">
    <div class ="px-3"> 
      <%= render 'shared/deck_search' %>    
    </div>
    
    <div class ="px-3">
      <p class ="mt-3 mb-0">簡易検索</p>
      <% deck_kind.each do |tcg_name,num| %>
        <% if num != nil %> 
          <%= link_to tcg_name +"(" + "#{@micropost_all.where(kind: num).count}" + ")",{ controller: :microposts , action: :search, kind: num},class: "btn btn-sm btn-outline-primary mt-2" %>
        <% end %>
      <% end %> 
    </div>
    
    <div class="mt-3 ">
      <p class ="px-3 my-1">最新の投稿</p>
      <ul class="index post-recent">
        <%= render @recent_posts %>
      </ul>
    </div>
    <%# render 'advertisement/yuyutei' %>
  </div>
  <div class="col-md-3 d-none d-md-block">
    <%= render 'advertisement/ad_right' %>
  </div>
</div>
<%= render 'advertisement/amazon_tcg' %>




