<li class="user">
  <div class="p-1 position-relative">
    <div class="">
      <%= link_to user.name, user,class:"user_link stretched-link font-weight-bold" %>  
      <%= render 'follow_button_index',{user: user} unless current_user?(user)%>
      
      <% if current_user.admin? && !current_user?(user) %>
      
        <%= link_to "delete", user, class: "user_dust",method: :delete,
                                data: { confirm: "You sure?" } %>
      <% end %>
    </div>
    <div class="text-secondary">
      <%= user.login_id%>  
    </div>
    
    <div class="font-weight-light user_intro"><%= user.introduction%></div>
  </div>
</li>