 

<div id="subtitle" ,class="col-md-6 offset-md-3">プロフィール編集</div>

<div class="">
  <div class="col-md-6 offset-md-3 text-secondary form">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' , object: f.object %>
      
      <%= f.label :name ,"名前"%><p class="bg-danger text-light">必須</p>
      <p class="">※15文字以内</p>
      <%= f.text_field :name,class: "bg-light form-control"%>

      <%# f.label :email ,"メールアドレス"%>
      <%# f.email_field :email,class: "bg-light form-control"  %>
      
      <%= f.label :login_id ,"ユーザーID"%><p class="bg-danger text-light">必須</p>
      <p class="">※半角英数で4～15文字</p>
      <%= f.text_field :login_id,class: "bg-light form-control" %>

      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction ,class: "auto-resize form-control bg-light" %>
      
      <%= f.label :favorite, "お気に入りTCG" %>
      <%= f.select :favorite, deck_kind , {}, {class: 'bg-light mini_select '} %>
      
      <div class="mb-4">
        <div>アイコン</div>
        
        <% (1..31).each do |n| %>
          <div class="d-inline-block pr-2">
            <%= render "users/icon" , icon_num: n %>
            <%= f.radio_button :icon, n ,class: "radio_b"%>  
          </div>
        <% end %>
      </div>
      
      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>
    
    <h6>パスワード変更は <%= link_to "こちら", edit_pass_user_path(current_user) %></h6>
  </div>
</div>