<% provide(:title, 'パス変更') %>

<div id="subtitle" ,class="col-md-6 offset-md-3">パスワード変更</div>

<div class="row">
  <div class="col-md-6 offset-md-3 text-secondary form">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :password, "パスワード" %><p class="bg-danger text-light">必須</p>
      <p class="">※4文字以上</p>
      <%= f.password_field :password ,class: "bg-light form-control" %>

      <%= f.label :password_confirmation, "パスワード確認" %><p class="bg-danger text-light">必須</p>
      <%= f.password_field :password_confirmation ,class: "bg-light form-control" %>
      
      <%= f.submit "パスワード更新", class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>