 

<div id="subtitle" ,class="col-md-6 offset-md-3">新規登録</div>

<div class="row">
  <div class="col-md-6 offset-md-3 text-secondary form">
    <%= form_with(model: @user,url: signup_path, local: true) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>
      
      <%= f.label :name ,"名前"%><p class="essential">必須</p>
      <p class="">※15文字以内</p>
      <%= f.text_field :name,class: "bg-light form-control"%>

      <%# f.label :email ,"メールアドレス"%>
      <%# f.email_field :email,class: "bg-light form-control"  %>
      
      <%= f.label :login_id ,"ユーザーID"%><p class="essential">必須</p>
      <p class="">※半角英数で4～15文字</p>
      <%= f.text_field :login_id,class: "bg-light form-control"%>

      <%= f.label :password, "パスワード" %><p class="essential">必須</p>
      <p class="">※4文字以上</p>
      <%= f.password_field :password ,class: "bg-light form-control" %>

      <%= f.label :password_confirmation, "パスワード確認" %><p class="essential">必須</p>
      <%= f.password_field :password_confirmation ,class: "bg-light form-control" %>
      
      
      <%= f.label :introduction, "自己紹介" %><p class="">※(登録後変更可能)</p>
      <%= f.text_area :introduction ,class: "auto-resize bg-light form-control" %>
      
      <%= f.label :favorite, "お気に入りTCG" %><p class="">※(登録後変更可能)</p>
      <%= f.select :favorite, deck_kind , {}, {class: 'bg-light intention_select'} %>
      
      <div class="mb-4">
        <div>アイコン</div>
        <% (1..34).each do |n| %>
          <div class="d-inline-block pr-2">
            <%= render "users/icon" , icon_num: n %>
            <%= f.radio_button :icon, n ,class: "radio_b"%>  
          </div>
        <% end %>
      </div>
      
      <%= recaptcha_tags callback: 'recaptchaCallbackFunction' %>
      
      <%= f.submit "アカウント登録", class: "btn btn-primary",id: "signup_btn",disabled: true %>
    <% end %>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function() {

});

var recaptchaCallbackFunction = function() { //コールバック関数の定義
  
  $("#signup_btn").prop("disabled", false);
};

</script>
