<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h5 class="m-0"><%= @user.name %></h5>
      
      <span class="text-secondary"><%= @user.login_id %></span>
      <small><%= link_to "ユーザープロフィール", @user %></small>
      
      
    </section>
    <section class="stats mt-0">
      <%= render 'shared/stats' %>

    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <div class="page_nav">
        <%= paginate @microposts, window: 2 %>
      </div>
    <% end %>
  </div>
</div>