
  <%= form_with(model: @micropost, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="text-secondary form">
      <%= f.label :title, "デッキ名" %>
      <%= f.text_field :title,class: "form-control", placeholder: "デッキ名を入力..." %>
  
      <%= f.label :content, "解説" %>
      <%= f.text_area :content, placeholder: "解説...",class: "form-control js-textarea_count mb-0" %>
      <P class="float-none ml-auto mt-0 wid_75">
        <span class="js-textarea_counter"></span>
      </P>
      
      <%= f.hidden_field :from,value: "d_post"%>
      
      <%= render 'shared/deck_kind' ,{f: f,search_kind: nil} %>
    </div>
    
    <span class="image">
      <%= f.file_field :image,accept: "image/jpeg,image/png" %>
    </span>
    
    <%= recaptcha_tags callback: 'recaptchaCallbackFunction' %>
    <div>
      <%= f.submit "投稿する",id: "p_form_btn",  class: "btn btn-sm btn-primary form-control",disabled: true %>  
    </div>
    
    
  <% end %>


<%= render 'shared/post_js' %>
