
  <%= form_with(model: @micropost, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="text-secondary form">
      <%= f.label :title, "デッキ名" %>
      <%= f.text_field :title,class: "form-control", placeholder: "デッキ名を入力..." %>
  
      <%= f.label :content, "解説" %>
      <%= f.text_area :content, placeholder: "解説...",id: "textarea",class: "form-control js-textarea_count mb-0" %>
      <P class="float-none ml-auto mt-0 wid_85">
        <span class="js-textarea_counter"></span>
      </P>
      
      <%= f.hidden_field :from,value: "d_post"%>
      
      <% if logged_in? %>
        <%= render 'shared/deck_kind' ,{f: f,search_kind: current_user.favorite} %>
      <% else %>
        <%= render 'shared/deck_kind' ,{f: f,search_kind: nil} %>
      <% end %>
      
      <%= render 'shared/deck_intention' ,{f: f,search_intention: nil} %>
    </div>
    
    <div class="mb-2" id = "form-img-1">
      <%= f.label :image,class: "btn btn-sm image_select_btn" do %>
        <i class="far fa-image mr-1"></i>画像を選択
      <% end %>
      <%= f.file_field :image,class:"d-none img-file-1",accept: "image/jpeg,image/png,image/bmp" %>
    </div>
    
    <div id = "image-1"></div>
    
    <div class="mb-2 d-none form-img-2" id = "form-img-2" >
      <%= f.label :image2,class: "btn btn-sm image_select_btn" do %>
        <i class="far fa-image mr-1"></i>2枚目を追加
      <% end %>
      
      <%= f.file_field :image2,class:"d-none img-file-2",accept: "image/jpeg,image/png,image/bmp" %>
      <div id = "image-2"></div>  
    </div>
    
    
    <% if logged_in? %>
      <div>
        <%= f.submit "投稿する",id: "p_form_btn",  class: "btn btn-sm btn-primary form-control",disabled: false %>  
        <small>(投稿の処理に数秒かかります)</small>
      </div>
      
    <% else %>
      <div><small>(ログインして投稿する場合、ロボット防止判定はありません)</small></div>
      <%= recaptcha_tags callback: 'recaptchaCallbackFunction' %>
    
      <div>
        <%= f.submit "投稿する",id: "p_form_btn",  class: "btn btn-sm btn-primary form-control",disabled: true %>  
        <small>(投稿の処理に数秒かかります)</small>
      </div>
      
    <% end %>
  <% end %>
  
<%= render 'shared/post_js' %>


