

<div class="post_form d-none">
  <div class= "post_form_main border">
    <%= form_with(model: @micropost, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="text-secondary form">
        <%= f.label :title, "デッキ名" %>
        <%= f.text_field :title,class: "form-control", placeholder: "デッキ名を入力..." %>
          
      
        <%= f.label :content, "解説"%>
        <%= f.text_area :content, placeholder: "解説...",class: "form-control js-textarea_count mb-0" %>
        
        <p class="float-none ml-auto mt-0 wid_80">
          <span class="js-textarea_counter"></span>
        </p>
        
        <%= render 'shared/deck_kind' ,{f: f,search_kind: nil} %>
       

      </div>
    
      <div class="image">
        <%= f.file_field :image,accept: "image/jpeg,image/png" %>
      </div>
      
      <%= recaptcha_tags callback: 'recaptchaCallbackFunction' %>
      
      <div>
        <%= f.submit "投稿する",id: "p_form_btn",  class: "btn btn-sm btn-primary float-right",disabled: true %>  
      </div>
      <br style="clear:both;"/>
    <% end %>
  </div>
</div>

<%= render 'shared/post_js' %>