

<div class="post_form d-none">
  <div class= "post_form_main border">
    <%= form_with(model: @micropost, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="text-secondary form">
        <%= f.label :title, "デッキ名" %>
        <%= f.text_field :title,class: "form-control", placeholder: "デッキ名を入力..." %>
          
      
        <%= f.label :content, "解説"%>
        <%= f.text_area :content, placeholder: "解説...",class: "form-control js-textarea_count mb-0" %>
        
        <p class="float-none ml-auto mt-0 wid_80">
          <span class="js-textarea_counter"></span>
        </p>
        
        <%= render 'shared/deck_kind' ,{f: f,search_kind: current_user.favorite} %>
        
       
        <%= render 'shared/deck_intention' ,{f: f,search_intention: nil} %>
      </div>
    
      <div class="mb-2">
        <%= f.label :image,class: "btn btn-sm image_select_btn" do %>
          <i class="far fa-image mr-1"></i>画像を選択
        <% end %>
        <%= f.file_field :image,class:"d-none",accept: "image/jpeg,image/png,image/bmp",onchange: "previewFile()" %>
        
        <img src="" class="post_image rounded border" alt=""> <!-- プレビューの表示枠を用意 -->  
      
      </div>
      
      <%= recaptcha_tags callback: 'recaptchaCallbackFunction' %>
      
      <div>
        <%= f.submit "投稿する",id: "p_form_btn",  class: "btn btn-sm btn-primary float-right",disabled: true %>  
      </div>
      <br style="clear:both;"/>
    <% end %>
  </div>
</div>

<%= render 'shared/post_js' %>