    <div class="post_info float-left">
      
      <%= link_to micropost.user,class: "font-weight-bold post_func_link" do %>
        <i class="fas fa-user mr-1"></i><%= micropost.user.name%>
      <% end %>
      <span class="font-weight-light">
        <%= micropost.kind %>
        <% if micropost.user.admin? %>
          deckpost_GOD
        <% else %>
          <%= micropost.user.login_id %>
          
        <% end %>
        
      </span>
    </div>
    <div class="float-right">
      <small>
        <% if logged_in? %>
          <% if current_user?(micropost.user) %>
            <%= link_to micropost, class: "post_dust", method: :delete, data: { confirm: "この投稿を削除しますか?" } do %>
              <i class="fa fa-trash" aria-hidden="true"></i>削除
            <% end %>
          <% end %>
        <% end %>
      </small>  
      <div class="d-inline font-08">
        <div class="d-inline pr-1"></div>
        <i class="far fa-comment"></i><%=micropost.comments.count%>
        <div class="d-inline pr-1"></div>
        <%= render 'microposts/like_area', micropost: micropost %>
        <div class="d-inline pr-1"></div>
        <%= render 'microposts/bookmark_area', micropost: micropost %>
        
      </div>

      
    </div>
    <br style="clear:both;"/>
    