    <div class="post_info float-left">
      
      <%= link_to micropost.user,class: "font-weight-bold post_func_link" do %>
        <i class="fas fa-user mr-1"></i><%= micropost.user.name%>
      <% end %>
      <span class="font-weight-light">
        
        <% if micropost.user.admin? %>
          deckpost_GOD
        <% else %>
          <%= micropost.user.login_id %>
        <% end %>
      </span>
    </div>
    <div class="float-right">
      <small class="">
        <% if logged_in? %>
          <% if current_user?(micropost.user) %>
            <%= link_to micropost, class: "post_dust", method: :delete, data: { confirm: "この投稿を削除しますか?" } do %>
              <i class="fa fa-trash" aria-hidden="true"></i>削除
            <% end %>
          <% end %>
        <% end %>
      </small>  
      <div class="d-inline ">
        <div class="d-inline ml-2 mr-1">
          <i class="far fa-comment mr-1"></i><%=micropost.comments.count%>  
        </div>
        
        <div class="d-inline">
          <%= render 'microposts/like_area', micropost: micropost %>  
        </div>
        
        <div class="d-inline">
          <%= render 'microposts/bookmark_area', micropost: micropost %>  
        </div>
        
      </div>
      
    </div>
    <br style="clear:both;"/>
    