
<%= form_with(url: microposts_search_path, method: :get, local: true) do |f| %>
  
  <%= f.text_field :search, placeholder: "デッキ名を入力..." %>
  <%= f.submit "検索", class: "my-3" %>

  <%= button_tag type: 'submit', class: "" do %>
    <i class="fas fa-search"></i><span class= "d-none d-md-inline">検索</span>
  <% end %>
<% end %>

<% if @micropost.any? %>
  <%= will_paginate @micropost,params: { controller: :microposts, action: :search } %>
  <ol class="microposts">
    <%= render @micropost %>
  </ol>
  <%= will_paginate @micropost,params: { controller: :microposts, action: :search } %>
<% end %>