<div class ="row">
  <div class="col col-md-3">
    <div class="d-none d-md-block">
      <%= render 'advertisement/search_left' %>
    </div>
  </div>
  
  <div class="col-md-6 ">
    <%= render 'shared/deck_search' %>
    
    <% if @microposts.any? %>
      
      <ul class="index">
        <%= render @microposts %>
      </ul>
      <div class="page_nav">
        <%= paginate @microposts, window: 2 %>
        
      </div>  
    <% else %> 
      <div>各当する投稿は見つかりません。</div>
    
    <% end %>
    
    
  </div>
  <div class="col col-md-3">
    <%= render 'advertisement/ad_right' %> 
  </div>
</div>

<%= render 'advertisement/amazon_tcg' %>