<nav class="navbar navbar-expand flex-wrap navbar-dark bg-dark flex-column flex-md-row">
  <%= link_to "デッキポスト",top_path , data: {"turbolinks" => false}, class: "navbar-brand mr-1 mr-sm-4",id: "logo"%>
  

  <div class="navbar-collapse flex-column flex-sm-row" id="Navber">
    <ul class="navbar-nav mr-2 head-menu flex-row">

        
      <% if logged_in? %>
        <li class="nav-item mr-1">
          <%= link_to(root_url,class: "nav-link", data: {"turbolinks" => false}) do %>
            <i class="fas fa-home mr-1"></i><span class= "">ホーム</span>
          <% end %>
        </li>
        
        <li class="nav-item dropdown mr-1">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars mr-1"></i><span class= "" >案内</span>
          </a>
          <div class="dropdown-menu adjust-left" aria-labelledby="navbarDropdown">
            <%= link_to(user_path(current_user),class: "dropdown-item", data: {"turbolinks" => false}) do %>
              <i class="fas fa-user mr-1"></i><span class= "" >マイページ</span>
            <% end %>
            <%= link_to(users_path,class: "dropdown-item") do %>
              <i class="fas fa-search mr-1"></i>ユーザーを検索
            <% end %>
            
            
            <%= link_to(d_post_url,class: "dropdown-item") do %>
              <i class="fas fa-edit mr-1"></i><span class= "">デッキを投稿</span>
            <% end %>
            <%= link_to(edit_user_path(current_user) ,class: "dropdown-item") do %>
              <i class="fas fa-user-edit mr-1"></i>ユーザー情報を編集
            <% end %>
 
            <%= link_to(edit_pass_user_path(current_user),class: "dropdown-item") do %>
              <i class="fas fa-cog mr-1"></i><span class= "" >設定</span>
            <% end %>
            <%= link_to(edit_pass_user_path(current_user),class: "dropdown-item") do %>
              <i class="fas fa-key mr-1"></i>パスワード変更
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to logout_path,class: "dropdown-item", method: :delete do%>
              <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
            <% end %>
          </div>
        </li>
        
        
        <li class="nav-item">
          <%= link_to notifications_path, class: "btn-default nav-link" do %>
            
            <i class="fas fa-bell mr-1"></i>
            <% if unchecked_notifications.any? %>
              <div class="bg-info notice-count">
                <span class="">
                  <%= current_user.passive_notifications.where(checked: false).count %>  
                </span>
              </div>
            <% end %>
            
            
          <% end %>
        </li>
      <% end %>
      
      <% if !logged_in? %>
        <li class="nav-item mr-1">
          <%= link_to(d_post_url,class: "nav-link") do %>
            <i class="far fa-edit mr-1"></i><span class= "">投稿する</span>
          <% end %>
        </li> 
        
        <li class="nav-item mr-1">
          <%= link_to(login_path,class: "nav-link") do %>
            <i class="fas fa-user-plus mr-1"></i><span class= "" >ログイン/新規登録</span>
          <% end %>
        </li>
      <% end %>
    </ul>
    

    
    <%= form_with url: microposts_search_url, method: :get, local: true ,class: "form-inline my-2 my-md-0" do |f| %>
      <%= f.hidden_field :kind ,value: current_user.favorite if logged_in? %>
      <%= f.hidden_field :sort ,value: "new" %>
      
      <%= f.text_field :word,class: "form-control mr-2 head-search", placeholder: "デッキ検索..." %>
      <%# f.submit "検索", class: "" %>
      <%= button_tag type: 'submit', class: "btn btn-outline-info my-2" do %>
        <i class="fas fa-search"></i><span class= "d-none d-md-inline">検索</span>
      <% end %>
    <% end %>

  </div><!-- /.navbar-collapse -->

</nav>

