<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render 'layouts/rails_default' %>
    <%= render "layouts/lightbox" %>
    <%= render "layouts/shim" %>
    
  </head>

  <body>
    <div class="form_bg d-none"></div>
    <%= render 'layouts/header' %>
    <div class="container-fluid p-2p">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
    
    
  </body>
  
</html>
